export AWS_ACCESS_KEY_ID='AKIAI6M46KLGMCNG2YPQ'
export AWS_SECRET_ACCESS_KEY='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'
export AWS_S3_BUCKET='eos-development'
export AWS_REGION='us-west-2'
export FILEPICKER_API_KEY='AKK85EEG9RfukeAKl9WxPz'