// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new-file {
  padding: 1em;
  border: 1px solid #afd9ee;
  background-color: #d9edf7;

  input[type="file"] {
    display: inline-block;
  }
}

.container {
  padding-top: 2em;
}

.sidebar, .main {
  padding: 1em;
}

.tree {
  padding: 1em;
  background-color: #d9edf7;
  ul { padding-left: 1em;}
  li {
    list-style-type: none !important;
    color: #428bca;
    &.selected {
      & > a { font-weight: bold; }
    }
  }
}